.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  align-content: center;
}
.header .logo {
  width: 8%;
  height: 8%;
  align-self: center;
}
.header .navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  font-size: 1.5rem;
  padding-top: 1.8rem;
}
.navbar a {
  text-decoration: none;
  color: #0094FF;
  align-self: flex-end;
}
.navbar a:hover {
  color: #66ff3f;
}
.header .log {
  background-color: #66ff3f;
  width: 5rem;
  height: 2.5rem;
  align-self: flex-end;
  border-radius: 1rem;
  border: none;
  color: #0094ff;
  font-size: 1.2rem;
}
.log:hover {
  background-color: #0094FF;
  color: #66ff3f;
}
html body {
  font-size: 62.5%;
  max-width: 1024px;
  margin: auto;
}
.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.head {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  border: solid 1px blue;
}
.intro h1 {
  width: 100%;
  font-size: 3.6rem;
  line-height: 3.6 rem;
  border: 1px solid red;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
.intro .appstore {
  width: 8%;
  height: 8%;
  line-height: 3.6rem;
  justify-content: center;
  display: block;
  border: solid 1px green;
}
.intro .app {
  width: 45%;
  align-self: center;
  padding: 2rem 0rem 3rem 0rem;
}
.intro h2 {
  display: flex;
  align-self: center;
  font-size: 1.8rem;
  margin: 0;
}
.intro h3 {
  align-self: center;
  font-size: 0.9rem;
  display: flex;
}
.heading2 {
  font-size: 4rem;
  color: #66ff3f;
  text-decoration: underline #0094ff;
  display: flex;
  justify-content: center;
}
.reviews {
  margin: 8rem 0;
  display: flex;
  justify-content: center;
  height: 50rem;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(to top, silver, white);
}
.reviews h3 {
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-start;
}
.reviews p {
  font-size: 0.8rem;
  justify-content: center;
  display: flex;
}
.topnav {
  text-decoration: none;
  font-size: 1rem;
  padding-top: 1rem;
  color: black;
  display: flex;
  justify-content: flex-start;
}
.features .feature {
  display: flex;
  border-bottom: groove 5px #0094FF;
  padding: 3rem 0;
  width: 100%;
  background-color: #66ff3f;
}
.features img {
  width: 38rem;
  height: 18rem;
}
.features h2 {
  font-size: 1.7rem;
  align-self: center;
}
.features p {
  font-size: 1.3rem;
}
.features div {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  align-self: center;
}
html body {
  font-size: 62.5%;
  max-width: 1024px;
  margin: auto;
}
.teams {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.teams img {
  border-radius: 40%;
  width: 7rem;
  height: 7rem;
  align-self: center;
  position: relative;
  overflow: hidden;
}
.teams h1 {
  align-self: center;
  font-size: 2rem;
  margin: 0;
}
.teams h2 {
  align-self: center;
}
.Cbutton {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
button {
  height: 2rem;
  background-color: #0094FF;
  border-radius: 1rem;
  border: none;
  color: #66ff3f;
}
button:hover {
  background-color: #66ff3f;
  color: #0094FF;
}
/*.team {
    display: none;
}
*/
footer {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.nav2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.nav2 a {
  color: #0094ff;
  text-decoration: none;
}
.nav2 a:hover {
  color: #66ff3f;
}
.heading2 {
  font-size: 2.8rem;
  color: #66ff3f;
  text-decoration: underline #0094ff;
  display: flex;
  justify-content: center;
}
.abouts {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  background-color: #66ff3f;
  height: 32rem;
  align-items: center;
}
.abouts .active img {
  display: flex;
  margin: auto;
}
.shaun {
  width: 20rem;
  height: 20rem;
}
.dora {
  width: 20rem;
  height: 15rem;
}
.vlad {
  width: 18rem;
  height: 15rem;
}
.chris {
  width: 19rem;
  height: 15rem;
}
.adam {
  width: 21rem;
  height: 18rem;
}
.about h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: auto;
}
.about p {
  font-size: 1.2rem;
}
.about a {
  font-size: 1.2rem;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: #69313b;
}
.about a:hover {
  color: black;
}
.abouts .about {
  display: none;
}
.abouts .active {
  display: block;
}
.about-control {
  display: flex;
  justify-content: space-around;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  background-color: lightskyblue;
}
.tab {
  cursor: pointer;
  background-color: #0094FF;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.tab:hover {
  background-color: #66ff3f;
}
