.teams {
    margin-top: 10rem;
    margin-bottom: 5rem;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teams img {
    border-radius: 40%;
    width: 7rem;
    height: 7rem;
    align-self: center;
    position: relative;
    overflow: hidden;
}



.teams h1 {
    align-self: center;
    font-size: 2rem;
    margin: 0;
}

.teams h2 {
    align-self: center;
}

.Cbutton {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

 button {
    height: 2rem;
    background-color: #0094FF;
    border-radius: 1rem;
    border: none;
    color: #66ff3f;
}

button:hover {
    background-color: #66ff3f;
    color: #0094FF;
}

.link a {
    text-decoration: none;
    color: #0094FF;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: .8rem;
}

.link a:hover {
    color: #66ff3f;
}




