.teams {
    margin-top: 10rem;
    margin-bottom: 5rem;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teams img {
    border-radius: 40%;
    width: 7rem;
    height: 7rem;
    align-self: center;
    position: relative;
    overflow: hidden;
}



.teams h1 {
    align-self: center;
    font-size: 2rem;
    margin: 0;
}

.teams h2 {
    align-self: center;
}





