.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.head {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    border: solid 1px blue;
}

.intro h1 {
    width: 100%;
    font-size: 3.6rem;
    line-height: 3.6 rem;
    border: 1px solid red;
    margin-top: 2rem;
    margin-bottom: .8rem;
}

.intro .appstore {
    width: 8%;
    height: 8%;
    line-height: 3.6rem;
    justify-content: center;
    display: block;
    
    border: solid 1px green;
}

.intro .app {
    width: 45%;
    align-self: center;
    padding: 2rem 0rem 3rem 0rem;
    
}

.intro h2 {
    display: flex;
    align-self: center;
    font-size: 1.8rem;
    margin: 0;
}

.intro h3 {
    align-self: center;
    font-size: .9rem;
    display: flex;
}