.intro {
    display: flex;
    flex-direction: column;
}

.head {
    height: 3.6rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;    
    width: 100%;
}

.head-title {    
    text-align: center;
    width: 85%;
    height: 3.6rem;    
}

.head-title h1 {
    display: inline;
    font-size: 3.6rem;
    align-self: center;
}

.head-image {
    align-self: center;
    height: 2rem;
    width: 6%;
    padding: 1rem;
}

.appstore {
    height: 100%;
    width: 100%;  
}

.intro .app {
    width: 45%;
    align-self: center;
    padding: 2rem 0rem 3rem 0rem;    
}

.intro h2 {
    display: flex;
    align-self: center;
    font-size: 1.8rem;
    margin: 0;
}

.intro h3 {
    align-self: center;
    font-size: .9rem;
    display: flex;
}

.heading2 {
    font-size: 4rem;
    color: #66ff3f;
    text-decoration: underline #0094ff;
    display: flex;
    justify-content: center;
}