.features .feature {
    display: flex;
    border-bottom: groove 5px #0094FF;
    padding: 3rem 0;
    width: 100%;    
    background-color: #66ff3f;
}

@media (max-width: 500px) {
    .features .feature {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
        border-bottom: groove 5px #66ff3f;
        background-color: #0094FF
    }
}

.features img {
    width: 38rem;
    height: 18rem;
    
}

.features h2 {
    font-size: 1.7rem;
    align-self: center;
}

.features  p {
    font-size: 1.3rem;
    
}

@media (max-width: 500px) {
    .features .feature p {
        text-align: center;
    }
}

.features div {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    align-self: center;

}

