.abouts {
    max-width: 1024px;
}

.about img {
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
}

.about h1 {
    font-size: 3rem;
}

.about p {
    font-size: 1.5rem;
}

.about a {
    font-size: 1.5rem;
}

.tab {
    cursor: pointer;
    background-color: blue;
    height: 15px;
    width: 15px;
}